h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cuerpo{
    max-width: 650px;
    min-width: 400px;
}

.boton{
    display: flex;
    justify-content: center;
}

.btn{
    font-weight: bold;
    margin-right:15px;
}